---
http_interactions:
- request:
    method: get
    uri: https://api.crypto.com/v2/public/get-trades?instrument_name=BTC_USDT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"code":0,"method":"public/get-trades","result":{"instrument_name":"BTC_USDT","data":[{"dataTime":1611179371285,"d":1118791040883939232,"s":"BUY","p":34910.59,"q":0.000037,"t":1611179371284,"i":"BTC_USDT"},{"dataTime":1611179361794,"d":1118790722392190848,"s":"BUY","p":34903.03,"q":0.030355,"t":1611179361793,"i":"BTC_USDT"},{"dataTime":1611179361530,"d":1118790713545141824,"s":"SELL","p":34906.86,"q":0.000001,"t":1611179361529,"i":"BTC_USDT"},{"dataTime":1611179357978,"d":1118790594371145952,"s":"SELL","p":34924.49,"q":0.012370,"t":1611179357977,"i":"BTC_USDT"},{"dataTime":1611179352535,"d":[...]
