---
http_interactions:
- request:
    method: get
    uri: https://api.crypto.com/v2/public/get-ticker
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"code":0,"method":"public/get-ticker","result":{"data": [ {"i":"YFI_USDT","b":33500.00,"k":33605.35,"a":33500.00,"t":1611179371618,"v":14.709621,"h":36269.69,"l":31404.51,"c":-2456.55},
        {"i":"ONT_USDT","b":0.6273,"k":0.6308,"a":0.6285,"t":1611179371475,"v":66572.93,"h":0.6824,"l":0.5923,"c":-0.0516},
        {"i":"REN_CRO","b":9.2183,"k":9.2803,"a":9.2152,"t":1611179371453,"v":89345.82,"h":9.3810,"l":7.3015,"c":1.6756},
        {"i":"AAVE_CRO","b":2319.94,"k":2334.88,"a":2319.33,"t":1611179370566,"v":187.208,"h":2371.31,"l":2118.19,"c":77.61[...]
