---
http_interactions:
- request:
    method: get
    uri: https://api.crypto.com/v2/public/get-book?instrument_name=BTC_USDT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"code":0,"method":"public/get-book","result":{"instrument_name":"BTC_USDT","depth":150,"data":[{"bids":[[34910.15,0.527397,3],[34910.14,0.080470,1],[34900.16,0.502918,1],[34898.30,0.007434,1],[34898.24,0.000100,1],[34897.12,0.349700,1],[34896.61,0.009800,1],[34895.69,0.337800,1],[34894.62,0.000100,1],[34894.58,0.000100,1],[34892.43,0.000003,1],[34888.30,0.010900,2],[34887.38,0.000030,1],[34886.39,0.000030,1],[34885.48,0.042012,1],[34884.18,0.008281,1],[34879.77,3.416191,1],[34875.49,0.000900,1],[34874.92,0.040144,1],[34873.90,5.000000,1],[34873.42,0.000900,1],[34868.71,0.000020,1],[34868.42,0.001[...]
