---
http_interactions:
- request:
    method: get
    uri: https://api.crypto.com/v2/public/get-instruments
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":-1,"method":"public/get-instruments","code":0,"result":{"instruments":[{"instrument_name":"NEO_BTC","quote_currency":"BTC","base_currency":"NEO","price_decimals":6,"quantity_decimals":3,"margin_trading_enabled":false},{"instrument_name":"ADA_BTC","quote_currency":"BTC","base_currency":"ADA","price_decimals":8,"quantity_decimals":0,"margin_trading_enabled":false},{"instrument_name":"ICX_BTC","quote_currency":"BTC","base_currency":"ICX","price_decimals":8,"quantity_decimals":1,"margin_trading_enabled":false},{"instrument_name":"ETH_CRO","quote_currency":"CRO","base_currency":"ETH","price_decimals":2,"quantity_decimals":3,"margin_trading_enabled":false},{"instrument_name":"REN_CRO","quote_currency":"CRO",[...]
